@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cairo', sans-serif;
}
header {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url("assets/header.jpeg") center no-repeat;
	background-size: cover;
	height: 150vh;
	position: relative;
}
header div#content {
	height: 100vh;
	width: 100%;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
header h1 {
	margin-bottom: -10px;
	font-size: 50px;
}
header div#content a {
	display: block;
	background: white;
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	margin-top: 10px;
	font-size: 18px;
	border-radius: 10px;
}
header div#content div  {
	position: absolute;
	bottom: 40px;
	font-size: 40px;
	animation: go-down 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes go-down {
	0% {
		bottom: 40px;
	}
	50% {
		bottom: 20px;
	}
	100% {
		bottom: 40px;
	}
}
section#members {
	margin: 50px auto;
	text-align: center;
	width: 700px;
}

section#members h1 {
	font-size: 40px;
	margin-bottom: 70px;
}
section#members div.row {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 40px 0;
}
section#members div.row div.member {
	text-align: center;
	position: relative;
	flex: 1;
}

section#members div.row div.member img:nth-of-type(1) {
	width: 200px;
	border-radius: 50%;
	border-bottom: 5px solid rgb(75, 75, 75);
	border-right: 5px solid rgb(124, 124, 124);
	border-left: 5px solid rgb(124, 124, 124);
	border-top: 5px solid transparent;
	padding: 10px;
}	
section#members div.row div.member h2 {
	font-size: 30px;
}
section#members div.row div.member h3 {
	color: rgb(114, 114, 114);
	font-size: 20px;
	margin-top: -20px;
	margin-bottom: -10px;
}
section#members div.row div.member h4 {
	color: gray;
	font-size: 20px;
}
section#members div.row div.member img.crown {
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	opacity: 0.5;
	animation: go-up 3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes go-up {
	0% {
		top: -20px;
	}
	50% {
		top: -30px;
	}
	100% {
		top: -20px;
	}
}

@media (max-width: 1000px) {
	section#members {
		width: 90%;
	}

	section#members div.row div.member img:nth-of-type(1) {
		width: 150px;
	}	
	section#members div.row div.member h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}	
	section#members div.row div.member h3 {
		font-size: 17px;
	}
}