header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1000px;
	margin: 50px auto;
}
header div + div {
	margin-left: 10px;
}
header div img {
	width: 600px;
}
header div h1 {
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 20px;
}

header div h2 {
	font-weight: 300;
	font-size: 25px;
}