header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1000px;
	margin: 50px auto 100px;
}
header div + div {
	margin-left: 10px;
}
header div img {
	width: 600px;
}
header div h1 {
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 20px;
}

header div h2 {
	font-weight: 300;
	font-size: 25px;
}

section#about {
	text-align: center;
	background: linear-gradient(to bottom, #a72222, rgb(94, 25, 25));
	color: white;
	padding: 100px 20px;
}
section#about h1 {
	font-size: 40px;
}
section#about div#services {
	display: flex;
	gap: 50px;
	width: 1000px;
	margin: 50px auto 0;
}
section#about div#services div {
	flex: 1;
}

section#about div#services div label {
	font-size: 60px;
}

section#about div#services div h2 {
	font-size: 25px;
	margin: 20px 0 10px;
	font-weight: 400;
}

section#about div#services div p {
	font-size: 16px;
	text-align: justify;
	font-weight: 300;
}
section#about a {
	display: block;
	margin: 60px auto 0;
	color: black;
	text-decoration: none;
	background: white;
	width: fit-content;
	font-size: 20px;
	padding: 15px 20px;
	border-radius: 50px;
}
section#team {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1000px;
	margin: 80px auto;
	gap: 100px;
}
section#team div:nth-of-type(1) {
	flex: 1;
}
section#team div h1 {
	font-size: 70px;
	line-height: 70px;
	margin-bottom: 30px;
}
section#team div p {
	text-align: justify;
	font-size: 20px;
}
section#team div img {
	width: 400px;
	box-shadow: 10px 10px 0 #a72222;
	border-radius: 5px 50%;
}
section#team div a {
	display: block;
	background: #a72222;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	border-radius: 100px;
	font-size: 17px;
	width: fit-content;
	margin-top: 20px;
}

@media (max-width: 1100px) {
	header {
		width: 90%;
	}
	header div img {
		width: 500px;
	}
	
	section#about div#services {
		width: 90%;
	}
	
	section#team {
		width: 90%;
	}
}
@media (max-width: 900px) {
	
	header div img {
		width: 400px;
	}
	header div h1 {
		font-size: 50px;
		line-height: 50px;
	}
	
	header div h2 {
		font-size: 20px;
	}
	section#team div img {
		width: 300px;
	}
	section#team div h1 {
		font-size: 50px;
	}
	section#team div p {
		font-size: 15px;
	}
}

@media (max-width: 800px) { 
	header {
		flex-direction: column;
	}
	
	header div + div {
		margin: 50px 0 0 0;
	}
	
	section#about div#services {
		flex-direction: column;
		align-items: center;
	}
	
	section#about div#services div {
		width: 70%;
	}
	section#about div#services div p {
		text-align: center;
	}
	section#team {
		flex-direction: column;
	}
	section#team div {
		text-align: center;
	}
	section#team div h1 {
		font-size: 50px;
		margin-bottom: 10px;
	}
	section#team div a {
		margin: 20px auto 0;
	}
	section#team div:nth-of-type(2) {
		display: none;
	}
}