@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
nav {
	display: flex;
	align-items: center;
	padding: 0 40px;
	background: white;
	height: 80px;
	overflow: hidden;
	z-index: 103;
}
nav div {
	flex: 1;
	z-index: 101;
}
nav div:nth-of-type(1) {
	
	z-index: 101;
}
nav div:nth-of-type(1) img {
	width: 150px;
	z-index: 101;
}
nav div:nth-of-type(2) {
	display: flex;
	align-items: center;
	justify-content: center;
}
nav div:nth-of-type(2) a {
	text-decoration: none;
	color: black;
	width: 100px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
}
nav div:nth-of-type(2) a:hover {
	background: rgb(240, 240, 240);
}
nav div:nth-of-type(3) {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav div:nth-of-type(3) a {
	background: #a72222;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 100px;
	font-size: 15px;
}

nav div:nth-of-type(3) button {
	background: none;
	border: none;
	font-size: 30px;
	margin-left: 20px;
	display: none;
	cursor: pointer;
	z-index: 101;
}

@media (max-width: 800px) {
	nav div:nth-of-type(1) img {
		width: 120px;
	}
	nav div:nth-of-type(2) a {
		width: 70px;
	}
}
.transition {
	width: 100%;
	margin: -5px 0;
}
footer {
	text-align: center;
	background: rgb(24, 24, 24);
	color: white;
	padding: 50px 0 10px 0;
}
footer img {
	width: 200px;
}
footer div {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 30px;
}
footer div a {
	font-size: 40px;
	color: rgb(51, 51, 51);
	transition: color .5s;
}

footer div a:hover {
	color: rgb(202, 202, 202);
}
footer label {
	display: block;
	margin: 20px 0 0 0;
	opacity: 0.2;
}

@media (max-width: 700px) {
	nav {
		padding: 0 5%;
	}
	nav div:nth-of-type(1) {
		flex: none;
	}
	
	nav div:nth-of-type(3) button {
		display: initial;
	}
	
	nav div:nth-of-type(2) {
		position: fixed;
		top: 0;
		right: -100%;
		background: white;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		border-left: 1px solid rgb(219, 219, 219);
		height: 100%;
		z-index: 100;
		padding-top: 79px;
		transition: right 0.5s;
	}
	
	nav div:nth-of-type(2) a {
		font-size: 20px;
		height: fit-content;
		width: 100%;
		justify-content: flex-start;
		padding: 10px 30px;
		border-top: 1px solid rgb(219, 219, 219);
	}
	
	nav div:nth-of-type(2) a:hover {
		background: transparent;
	}
	nav div:nth-of-type(3) a {
		font-size: 12px;
	}
}