header {
	width: 900px;
	margin: 50px auto;
}
header h1 {
	margin-bottom: 20px;
	font-size: 70px;
}
header p {
	text-align: justify;
	font-size: 20px;
}
section#word {
	background: linear-gradient(to bottom, #a72222, rgb(94, 25, 25));
}
section#word div#content {
	display: flex;
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
	color: white;
	align-items: center;
	justify-content: center;
	gap: 150px;
}
section#word div#content div p {
	font-style: italic;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 30px;
}
section#word div#content div img {
	width: 300px;
	box-shadow: 10px 10px 0 #ffffff;
	border-radius: 5px 50%;
}

section#word div#content div h1 {
	font-size: 40px;
}
section#word div#content div h2 {
	font-weight: 300;
	font-size: 20px;
}
section#members {
	text-align: center;
	margin: 80px 0;
}
section#members h1 {
	font-size: 50px;
	margin: 0 20px;
	color:#a72222;
}
section#members div#member-list {
	display: flex;
	justify-content: center;
	width: 1000px;
	margin: 50px auto 0;
	flex-wrap: wrap;
	gap: 40px;
}
section#members div#member-list div {
	width: 300px;
}
section#members div#member-list div img {
	width: 150px;
	border-radius: 50%;
	border: 2px solid #a72222;
	padding: 5px;
}
section#members div#member-list div h1 {
	font-size: 30px;
	margin-top: 20px;
}
section#members div#member-list div h2 {
	font-size: 18px;
	font-weight: 300;
}
@media (max-width: 1100px) {
	
	section#word div#content {
		width: 90%;
		gap: 80px;
	}
	header {
		width: 90%;
	}
	section#members div#member-list {
		width: 100%;
		gap: 20px;
	}
}

@media (max-width: 800px) {

	section#word div#content div img {
		width: 250px;
	}
	
	section#word div#content div p {
		font-size: 17px;
	}
	section#word div#content div h1 {
		font-size: 25px;
	}
	section#word div#content div h2 {
		font-size: 17px;
	}
}

@media (max-width: 800px) {
	section#word div#content {
		flex-direction: column;
		gap: 40px;
	}
}